/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.env.

_ide_helper.php
.phpstorm.meta.php
refresh.sh
/public/uploads
/storage/export
/storage/convertCsv
.DS_Store